body{
    background-color: #E5B8F4;
    margin: 0
}

h1{
    color: #2D033B;
    margin: 0;
}

.top{
    width: 200px;
    height: 200px;
    background-color: #C147E9;

    padding: 20px;
    border: 10px solid white;
    margin: 0;
}
.middle{
    width: 200px;
    height: 200px;
    background-color: #810CA8;


    border: 20px solid white;
    margin: 0 auto;
}
.bottom{
    width: 200px;
    height: 200px;
    background-color: #2D033B;

    border: 10px solid white;
    margin-right: 0px;
    margin-left: auto;
}